BOT_TOKEN=123456:replace_me
RU_COCOA_ASSET_CODE=COCOA
TV_USDRUBF_SYMBOL=USDRUBF
TV_WORLD_COCOA_SYMBOL=COCOA
FAIR_BASIS_RATE_PCT=
FAIR_BASIS_DAY_COUNT=360
CBR_KEY_RATE_URL=https://www.cbr.ru/eng/hd_base/KeyRate/?UniDbQuery.Posted=True
CBR_KEY_RATE_CACHE_ENABLED=true
FOREIGN_OPEN_TIME_MSK=11:45
FOREIGN_CLOSE_TIME_MSK=20:29
FOREIGN_MARKET_HOLIDAYS_MSK=2026-01-01,2026-01-19,2026-02-16,2026-04-03,2026-05-25,2026-06-19,2026-07-03,2026-09-07,2026-11-26,2026-12-25
TV_TIMEFRAME_MINUTES=1
TV_LOOKBACK_BARS=3000
TV_SESSION_ID=
TV_WORLD_CLOSE_CACHE_ENABLED=true
MOEX_ISS_BASE_URL=https://iss.moex.com
SIGNAL_NEUTRAL_SPREAD_RUB=2.00
SIGNAL_NEUTRAL_SPREAD_PCT=0.7
SIGNAL_CAUTIOUS_SPREAD_RUB=2.80
SIGNAL_CAUTIOUS_SPREAD_PCT=1.0
SIGNAL_STRONG_SPREAD_RUB=4.90
SIGNAL_STRONG_SPREAD_PCT=1.75
BOT_ALLOWED_CHAT_IDS=
